In [14]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.3.1'

In [4]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

--2025-09-17 04:19:33--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 874188 (854K) [text/plain]
Saving to: ‘car_fuel_efficiency.csv’

car_fuel_efficiency 100%[===================>] 853.70K  --.-KB/s    in 0.005s

2025-09-17 04:19:34 (159 MB/s) - ‘car_fuel_efficiency.csv’ saved [874188/874188]

In [5]:
df = pd.read_csv("car_fuel_efficiency.csv")
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [8]:
unique_fuels = df['fuel_type'].unique()
print("Unique fuel types:", unique_fuels)

Unique fuel types: ['Gasoline' 'Diesel']

In [9]:
missing_cols = df.isnull().sum()
num_missing_cols = (missing_cols > 0).sum()

print("Number of columns with missing values:", num_missing_cols)

Number of columns with missing values: 4

In [12]:
max_eff = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()
print("Maximum fuel efficiency (Asia):", max_eff)

Maximum fuel efficiency (Asia): 23.759122836520497

In [13]:
# Step 1: Median before filling
median_before = df['horsepower'].median()
print("Median before fill:", median_before)

# Step 2: Most frequent (mode) value
most_freq = df['horsepower'].mode()[0]
print("Most frequent horsepower value:", most_freq)

# Step 3: Fill missing values with mode
df['horsepower'] = df['horsepower'].fillna(most_freq)

# Step 4: Median after filling
median_after = df['horsepower'].median()
print("Median after fill:", median_after)

# Step 5: Check if changed
if median_after > median_before:
    print("Yes, it increased")
elif median_after < median_before:
    print("Yes, it decreased")
else:
    print("No")

Median before fill: 149.0
Most frequent horsepower value: 152.0
Median after fill: 152.0
Yes, it increased

In [15]:


# Step 1: Filter for Asia
asia_cars = df[df['origin'] == 'Asia']

# Step 2: Select only vehicle_weight and model_year
asia_subset = asia_cars[['vehicle_weight', 'model_year']]

# Step 3: Take first 7 rows
asia_subset = asia_subset.head(7)

# Step 4: Get NumPy array
X = asia_subset.values

# Step 5: Compute XTX and its inverse
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)

# Step 6: Define y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Step 7: Compute w
w = XTX_inv @ X.T @ y

# Step 8: Sum of elements of w
result = w.sum()
print(result)

0.5187709081074016